form {
    max-width: 600px;
    margin: 80px auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px black;
    border-radius: 4px;
    background-color: #fff;
}

form h1 {
    margin-top: 0;
    color: #555;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
}

.form-control {
    margin-bottom: 16px;
}

.form-control label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.form-control input {
    display: block;
    padding: 8px;
    height: 35px;
    border-radius: 4px;
    width: 90%;
    border: 2px solid #ccc;
    background-color: white;
    font-size: 1rem;
}

button {
    background-color: black;
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    width: 93.5%;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}